<!DOCTYPE html>
<html>
<head>
  <title>MeetupCalendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav><ul>

      <li><%= link_to "Log In", "/auth/meetup" unless current_user %></li>
    </ul>
    </nav>
  </header>

<%= yield %>

</body>
</html>
